/node_modules
/.github
/tests
/storage/logs/*
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/public/storage
/database/database.sqlite
.env
.env.*
!.env.production.example
